
.new-game-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    backdrop-filter: blur(3px);
    align-items: center;
    justify-content: center;
    display: flex;
}
  
.new-game-window{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #161616eb;
    border-radius: 1rem;
}

.new-game-window-button{
    background-color: #b3b3b3;
    border-radius: .5rem;
    margin: .5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: auto;
}

.new-game-button-text{
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.new-game-window-button h1{
    font-size: 2rem;
    color: white;
    line-height: 0;
    white-space: nowrap;
}  

.game-info{
    height: 2rem;
    width: 2rem;
    padding-left: 2rem;
}

.game-mode-icon{
    height: 3rem;
    transform: translateX(-50%);
}