.App {
  text-align: center;
}

.App-header {
  background-color: #161616;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.colorBox{
  width: 60vw;
  height: 40vh;
  background-color: white;
  border: none;
  border-radius: 1rem;
}

.App-link {
  color: #61dafb;
}

.color-code{
  background: linear-gradient(to top right,rgb(0, 191, 255), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.answerButtonWrapper{
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 5vh;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.answerButton{
  width: 32%;
  border: none;
  border-radius: .5rem;
  background-color: #DFDFDF;
  cursor: pointer;
  font-size: min(3vw, 2rem);
  color: #161616;
  font-weight: 700;
}

@keyframes fadeOut {
  0% {
    background-color: #DFDFDF;
  }
  100% {
    background-color: #dfdfdf4c;
  }
}

.guessed{
  animation: fadeOut .25s ease-in-out;
  animation-fill-mode: forwards;
}

.anim-wrapper{
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.info{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}

.info p{
  margin: 0;
  color: #dfdfdf4c;
}

.game-container{
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-game-button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.info-panel{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.game-mode-display{
  margin: 1rem;
  font-style: italic;
  color: white;
  text-align: left;
  font-weight: 300;
  font-size: 25px;
  /* mix-blend-mode: difference; */
}

.cheat{
  text-align: right;
  margin: 1rem;
  color: white;
  font-size: 2rem;
}